.App {
  text-align: center;

}

.homeContainer {
  height: 4000px;
}
img {
  margin-bottom: 50px;
  color: gray;
}

h1, h2, h3, h4, h5 {
  color: gray;
}

.italic {
  font-style: italic;
}

.headerContainer {
  /* background-color: maroon; */
  margin-top: 50px;
  height: 300px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 800px;
}

.bodyContainer {
  margin-top: 100px;

}

.topBody {
  background-color: #f0f0f0;
   text-align: center;
}

.secondBody {
  margin-top: 300px;
   text-align: center;
}

.headerTextMaroon{
  color: maroon;
  font-weight: bold;
  font-size: 70px;
  line-height: 50px;
}

.headerTextGray {
color: gray;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}
.still {
  height: 400px;
}

.thridBody {
    margin-top: 300px;
   text-align: center;
}

.fourthBody {
   margin-top: 300px;
   text-align: center;
}

.summaryBody {
  margin-top: 300px;
  margin-bottom: 200px;
   text-align: center;
}